.card{
    border-radius:10px;
    background-color:#FFFFFF;
    margin:20px;
    width:500px;
    height:92%;
    min-height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.cardimg{
    padding-left:10px;
    width:100px;
    height:100px;
    margin-top:5px
}

.back {
    transform: rotateY(-180deg);
    transition: all 0.5s;
    color: #000000;
    backface-visibility: hidden;
}
.font{
    border-radius:10px;
    background-color:	#FFFFFF;
    
    width:500px;
    height:100%;
    min-height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    transition: all 0.5s;
}
.back{
    border-radius:10px;
    background-color:	#FFFFFF;
    
    width:500px;
    height:100%;
    min-height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    transition: all 0.5s;
}
.card:hover .font {
transform: rotateY(180deg);
}
.card:hover .back {
transform: rotateY(0);
}
.font,.back {
    backface-visibility: hidden;
  }
.card{
position: relative;
}
.font,.back{
position: absolute;
}